<p><!-- Place this div in your web page where you want your chat widget to appear. --></p>
<div class="needs-js">chat loading...</div>
<p><!-- Place this script as near to the end of your BODY as possible. --></p>
<p></p>
<p><br />
<script type="text/javascript">// <![CDATA[
(function() {
    var x = document.createElement("script"); x.type = "text/javascript"; x.async = true;
    x.src = (document.location.protocol === "https:" ? "https://" : "http://") + "libraryh3lp.com/js/libraryh3lp.js?8696";
    var y = document.getElementsByTagName("script")[0]; y.parentNode.insertBefore(x, y);
  })();
// ]]></script>
</p>