<p>
<script type="text/javascript">// <![CDATA[
// Sets home library cookie so that databases page shows college-specific content. Expires 20 days after being set.
(function ()
{
  var myLib = 'arc'; 
  var d = new Date();
  d.setTime(d.getTime() + 1728000000);
  var expires = 'expires=' + d.toUTCString();
  document.cookie = 'homeLibrary=' + myLib + ';' + expires + ';path=/;domain=losrios.edu';
})();
// ]]></script>
</p>
<p><a href="https://ezproxy.losrios.edu/login?url=https://search.ebscohost.com/login.aspx?authtype=ip%2Cuid&amp;profile=eds" target="_blank"><strong><img alt="OneSearch Los Rios Libraries" height="39" src="Images/Images-arc/Library/onesearch-arc.png" title="OneSearch Los Rios Libraries" width="200" /></strong></a></p>
<form action="https://search.ebscohost.com/login.aspx" id="onesearch-form" method="get"><!-- hidden fields provided so that form functions without javascript --> <input name="authtype" type="hidden" value="ip,guest" /> <input name="direct" type="hidden" value="true" /><input name="custid" type="hidden" value="amerriv" /> <input name="site" type="hidden" value="eds-live" /> <input name="groupid" type="hidden" value="main" /> <input name="profile" type="hidden" value="eds" /> <!-- You may change the label's text but you must include a label for ADA compliance. --><label for="onesearch-query" id="onesearch-label"><h2>Find books, ebooks, articles &amp; more</h2></label>Enter your keywords here: &nbsp;<input id="onesearch-query" name="bquery" style="width: 40%;" title="One Search Textbox" type="text" /> <input style="margin: 5px;" type="submit" value="Search" />
<div>
<div id="limiters">&nbsp;<input checked="checked" id="no-limit" name="os-limit" type="radio" value="all" /> <!-- important to have most common option checked by default --> <label for="no-limit">Everything</label> <input id="cat-limit" name="os-limit" type="radio" value="cat" /> <label for="cat-limit">Books &amp; Videos</label> <input id="schol-limit" name="os-limit" type="radio" value="schol" /> <label for="schol-limit">Scholarly Journals</label> <input id="ebook-limit" name="os-limit" type="radio" value="ebook" /> <label for="ebook-limit">Ebooks Only</label></div>
<script type="text/javascript">// <![CDATA[
// this script is necessary for the limiters to work. If it is excluded, or a user has javascript disabled, keywords will still be sent to EDS but the limiters will not function.
function sendSearch(keywords, limiters, label)
{
    var custid = document.getElementsByName('custid')[0].value;
	// to use the proxy,  uncomment following line and comment one after it
	//var urlBase = 'https://ezproxy.losrios.edu/login?url=https://search.ebscohost.com/login.aspx?authtype=ip,guest&custid=' + custid + '&groupid=main&profile=eds';
    var urlBase = 'https://search.ebscohost.com/login.aspx?authtype=ip,guest&custid=' + custid + '&groupid=main&profile=eds';
    var searchParams = '&direct=true&site=eds-live';
    var query = '&bquery=' + keywords;
    /* the following tracks usage of the search box in Google Analytics. If you have access to your page's Google Analytics and want to track usage of the search box, uncomment the block and the appropriate line depending on version of Analytics. You can also edit the category, action and label as desired. Otherwise delete the entire script block. */
    // below uses older Google Analytics - ARC and FLC are both still using this. Not sure what CRC is doing.
    // _gaq.push(['_trackEvent','onesearch form - ' + label, 'submit', keywords]);
    // below uses latest version of Google Analytics (Universal Analytics)
    // ga('send', 'event', 'onesearch form - ' + label, 'submit', keywords);
    if (keywords !== '')
    {
        var suffix = '';
        if (limiters !== '')
        {
            suffix = limiters;
        }

        location.href = urlBase + searchParams + query + suffix;
	// optional - open in new window/tab - only do this if you have a widget e.g. D2L. Comment out line above, uncomment line below
	// window.open(urlBase + searchParams + query + suffix);
    }
    else
    { // sometimes people don't put in search terms - in that case, send to home screen
        location.href = urlBase;
	// comment out line above and uncomment line below if opening in new window
	// window.open(urlBase);
	// also add target="_blank" to form element to avoid popup blocker
    }
}
document.getElementById('onesearch-form').addEventListener('submit', function(e)
{
    e.preventDefault();
    var keywords = document.getElementById('onesearch-query').value;
    // label variable is only used for Google Analytics tracking. If tracking is not used, it does no harm
    var limit, label;
    if (document.getElementById('cat-limit').checked)
    {
        limit = '&cli0=FC&clv0=Y';
        label = 'catalog';
    }
    else if (document.getElementById('schol-limit').checked)
    {
        limit = '&cli0=RV&clv0=Y';
        label = 'scholarly';
    }
    else if (document.getElementById('ebook-limit').checked)
    {
        limit = ' AND PT ebook';
        label = 'ebooks';
    }
    else
    {
        limit = '';
        label = 'all';
    }
    sendSearch(keywords, limit, label);
});
// ]]></script>
</div>
</form>
			