@charset "utf-8";
/* CSS Document */

<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&display=swap" rel="stylesheet">
<link rel="apple-touch-icon" sizes="180x180" href="//www.library.losrios.edu/resources/databases/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="//www.library.losrios.edu/resources/databases/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="//www.library.losrios.edu/resources/databases/favicon-16x16.png">
<link rel="manifest" href="//www.library.losrios.edu/resources/databases/site.webmanifest">
<link rel="mask-icon" href="//www.library.losrios.edu/resources/databases/safari-pinned-tab.svg" color="#5bbad5">
<style>
body {font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;}
#s-la-public-header, #s-la-page-title-bar, #s-la-bc, .nav.navbar-nav.s-la-navbrowse, #s-srch-facet-0-g {display:none;}
.s-la-box-container {border:none;}
.s-la-color-bars.s-la-box-title h2 {font-size:1.8em;}
.s-la-box-content a {color:#003057; text-decoration:underline;}
.label-topic a {text-decoration:none;}
#arc-top-nav {background: #fff; margin-bottom:0;}
#arc-header {background: #003057; color:#fff; margin-top:0;}
#arc-logo-anchor {position:absolute; left:10px;}
#arc-logo {max-height:60px; padding-top:10px; margin-right:1em; margin-bottom:8px;}
#arc-page-title {color:#fff; padding:6px; border-radius:4px;}
#arc-page-title:hover, #arc-page-title:focus {text-decoration:none; background:rgba(58,58,58,.1);}

#navbar a { text-transform:uppercase; color:#003057; font-weight:600;}
#s-la-browsebar-collapse {position:relative; top:14px; margin-left:20%;}
.s-la-searchform-buttoncol {padding-left:0;}
.s-la-searchform-button { border-radius: 0px 4px 4px 0px;  background:#BA0C2F; color: #ffffff; border-color:#BA0C2F;}
.s-la-searchform-button:hover, .s-la-searchform-button:focus {background:#600013; color:#ffffff; border-color:#600013;}
.navbar-default .navbar-nav > li > a {color:#ffffff;}
.s-la-faq-listing-q {font-size: 1em;}

#s-la-page-maincontent {font-size:1.2em;}
.s-la-box-type-1 .s-la-box-title h2 {font-size:2.25em !important;}
.s-la-box-content h3 {font-size:1.5em;}
.arc-answers-details {font-size:0.6em; font-style:italic; margin: 10px 0 0 10px;}
.s-srch-result-title {font-size:1.6em;}
.s-srch-result-meta { font-size: 1.4em;}
.s-la-content-topics-cloud a {text-decoration:none;}

.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

.alert-info {background:#fde373; border:#fde373}
.btn-primary {background:#003057; text-decoration:none !important;; color:#fff !important;; border: #003057;}
@media (min-width:768px) {
#navbar {display: table !important;table-layout: fixed;float: none;margin: 0 auto;}
#navbar li {border-right:1px solid #ccc;}
#navbar li:first-of-type {border-left: 1px solid #ccc;}
}
@media (max-width: 1199px) {
#arc-logo-anchor {position:static;}
}
@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
#s-la-page-title-bar {display:block;}
#s-la-browsebar-collapse {position:static;}
}

</style>