@charset "utf-8";
/* CSS Document */

<script>
if ($(document).width() > 768) {
$('#s-la-browsebar-collapse').addClass('col-7').appendTo($('#arc-header-row'));
}

// remove last name from author of answer
$('.s-la-faq-owner').each(function() {
    var arr = $(this).html().split(' ');
    arr.pop();
    $(this).html(arr.join(' '));
 });

</script>