<style>
    .space-kids-x-2 > *:not(:last-child) {
        margin-right: 0.5rem;
    }

    .space-kids-x-4 > *:not(:last-child) {
        margin-right: 1.5rem;
    }

    .d-flex {
        display: flex;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .mb-2 {
        margin-bottom: 0.5rem;
    }
</style>
<div style="margin: 0 30px 15px 30px;">
    <script type="text/javascript">
        // Sets home library cookie so that databases page shows college-specific content. Expires 20 days after being set.
        (function () {
            var myLib = 'arc';
            var d = new Date();
            d.setTime(d.getTime() + 1728000000);
            var expires = 'expires=' + d.toUTCString();
            document.cookie = 'homeLibrary=' + myLib + ';' + expires + ';path=/;domain=losrios.edu';
        })();
    </script>
    <a href="https://caccl-lrccd.primo.exlibrisgroup.com/discovery/search?vid=01CACCL_LRCCD:arc&amp;lang=en"
        target="_blank" class="extLink" title="Start Your Research Here" rel="noopener">
        <!-- Valid img element attributes can be found at: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img#Attributes -->
        <!-- caption is not a valid img element attribute -->
        <!-- img-fluid class was not doing anything -->
        <img alt="OneSearch Los Rios Libraries" src="a/3612"
            style="width: 275px; max-width: 100%; height: auto; margin-bottom: 1.5rem;"
            title="OneSearch Los Rios Libraries" />
    </a>
    <h3>Find books, articles, ebooks and more</h3>
    <form id="onesearch-form" action="https://caccl-lrccd.primo.exlibrisgroup.com/discovery/search" method="get">
        <!-- hidden below line is mandatory -->
        <input type="hidden" name="query" value="any,contains," />
        <!--update per college. value should be arc, crc, flc or scc. -->
        <input type="hidden" name="search_scope" value="arc_everything" />
        <input type="hidden" name="vid" value="01CACCL_LRCCD:arc" />
        <!-- You may change the label's text but you must include a label for ADA compliance. -->
        <label id="onesearch-label" class="hidelabel" for="onesearch-query">Enter your keywords: </label>
        <div class="input-group mb-2">
            <input id="onesearch-query" name="query" type="text" placeholder="Enter your keywords"
                aria-label="Search Keywords" class="form-control" title="OneSearch" />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search fa-flip-horizontal" aria-hidden="true"></i> Search
                </button>
            </span>
        </div>
        <!-- radio buttons-->
        <div id="limiters" class="space-kids-x-4 d-flex flex-wrap">
            <div class="space-kids-x-2">
                <input id="onesearch-everything" name="facet" type="radio" value="" checked="checked" />
                <label for="onesearch-everything">Everything</label>
            </div>
            <div class="space-kids-x-2">
                <input id="onesearch-books-libraries" name="facet" type="radio" value="tlevel,include,available_p" />
                <label for="onesearch-books-libraries">Books &amp; Videos in the Library</label>
            </div>
            <div class="space-kids-x-2">
                <input id="onesearch-scholarly" name="facet" type="radio" value="tlevel,include,peer_reviewed" />
                <label for="onesearch-scholarly" type="radio">Scholarly Journals</label>
            </div>
            <div class="space-kids-x-2">
                <input id="onesearch-video" name="facet" type="radio" value="rtype,include,videos" />
                <label for="onesearch-video" type="radio">Videos</label>
            </div>
        </div>
    </form>
    <script>
        // each of our websites uses jQuery so might as well simplify code by using it.
        jQuery(document).ready(function ($) { // this is safe way to start jQuery function--sometimes dollar sign is used for other things
            $('#onesearch-form').on('submit', function (e) {
                e.preventDefault();
                var form = $(this);
                var kw = $('#onesearch-query').val();
                var baseURL = form.attr('action');
                var vid = form.find('input[name="vid"]').val();
                var scope = form.find('input[name="search_scope"]').val();
                if (kw === '') { // if no query is entered, go to Primo home page
                    location.href = baseURL + '?vid=' + vid;
                } else {
                    var facet = '';
                    if (form.find('option').length) {
                        facet = form.find('option:selected').val();
                    }
                    else if (form.find('input[type="radio"]').length) {
                        facet = form.find('input[type="radio"]:checked').val();
                    }
                    location.href = baseURL + '?query=any,contains,' + kw + '&search_scope=' + scope + '&vid=' + vid + '&facet=' + facet;
                }
            });
        });
    </script>
    <a href="https://caccl-lrccd.primo.exlibrisgroup.com/discovery/search?vid=01CACCL_LRCCD:arc&amp;lang=en&amp;mode=advanced"
        target="_blank" title="Advanced Search" rel="noopener" style="color: #ba0c2f;"> Advanced Search</a>
</div>