<p>Most textbooks are available in the library for a two-hour checkout. They are held in the 
  <em>Course Reserves</em> behind the Circulation Desk.
</p>
<p>Find your textbook here:</p>
<!--Primo VE reserves search form; last updated 1/10/2020-->
<!-- Ingeniux websites will include useful classes for styling these elements. If the stylesheet has classes for alerts, add them to the elements that currently have the class ` errortext `. The following styles can likely be deleted -->
<!-- form will function properly without JS although query will look weird in Primo VE search box; JS allows validation and prettier query -->
<!-- value of data-college should be arc, crc, flc or scc -->
<form autocomplete="off" method="get" action="https://caccl-lrccd.primo.exlibrisgroup.com/discovery/search" id="libres-reservessearch" data-college="arc">
  <input type="hidden" name="query" value="any,contains," />
  <label for="libres-department">Department (e.g. Math)</label>
  <!-- this is a very long select box so should be enhanced - check into jQuery UI or other solutions -->
  <select class="input-medium form-control" id="libres-department" name="query" style="margin-bottom: 1.5rem; height: 4.2rem;">
    <option selected="selected" value="">Select Department</option>
    <option value="ACCT">Accounting (ACCT)</option>
    <option value="(&quot;PCL ACT&quot; OR &quot;NATO ACT&quot;)">Auto Collision Technology (ACT)</option>
    <option value="ADAPT">Adapted Physical Education (ADAPT)</option>
    <option value="ADMJ">Administration of Justice (ADMJ)</option>
    <option value="(&quot;PCL AH&quot; OR &quot;NATO AH&quot;)">Allied Health (AH)</option>
    <option value="ANTH">Anthropology (ANTH)</option>
    <option value="(&quot;PCL ART&quot; OR &quot;NATO ART&quot;)">Art (ART)</option>
    <option value="&quot;ARTH&quot;">Art History (ARTH)</option>
    <option value="ARTNM">Art New Media (ARTNM)</option>
    <option value="ARTPH">Art Photography (ARTPH)</option>
    <option value="DEAF">ASL Deaf Culture and ASL Studies (DEAF)</option>
    <option value="ASTR">Astronomy (ASTR)</option>
    <option value="(&quot;PCL AT&quot; OR &quot;NATO AT&quot;)">Automotive Technology (AT)</option>
    <option value="BIOL">Biology (BIOL)</option>
    <option value="BIOT">Biotechnology (BIOT)</option>
    <option value="BUS">Business (BUS)</option>
    <option value="BUSTEC">Business Technology (BUSTEC)</option>
    <option value="CARPT">Carpenters Apprenticeship (CARPT)</option>
    <option value="CHEM">Chemistry (CHEM)</option>
    <option value="CHP">California Highway Patrol (CHP)</option>
    <option value="CISA">Computer Info Science - Apps (CISA)</option>
    <option value="CISC">Computer Info Science - Core (CISC)</option>
    <option value="CISN">Computer Info Science - Network (CISN)</option>
    <option value="CISP">Computer Info Science - Program (CISP)</option>
    <option value="CISS">Computer Info Sci - Security (CISS)</option>
    <option value="CISW">Computer Info Science - Web (CISW)</option>
    <option value="DANCE">Dance (DANCE)</option>
    <option value="DCDT">Diesel/Clean Diesel Technology (DCDT)</option>
    <option value="DESGN">Design Technology (DESGN)</option>
    <option value="DRLTH">Drywall/lathing (DRLTH)</option>
    <option value="ECE">Early Childhood Education (ECE)</option>
    <option value="ECON">Economics (ECON)</option>
    <option value="ELECT">Electricians Apprenticeship (ELECT)</option>
    <option value="EMT">Emergency Medical Technology (EMT)</option>
    <option value="ENERGY">Energy (ENERGY)</option>
    <option value="ENGCW">English - Creative Writing (ENGCW)</option>
    <option value="ENGED">English - Education (ENGED)</option>
    <option value="ENGLT">English - Literature (ENGLT)</option>
    <option value="ENGR">Engineering (ENGR)</option>
    <option value="ENGRD">English - Reading (ENGRD)</option>
    <option value="ENGWR">English - Writing (ENGWR)</option>
    <option value="ESL">ESL - English as a Second Lang (ESL)</option>
    <option value="ESLG">ESL - Grammar (ESLG)</option>
    <option value="ESLL">ESL - Listening (ESLL)</option>
    <option value="ESLR">ESL - Reading (ESLR)</option>
    <option value="ESLW">ESL - Writing (ESLW)</option>
    <option value="(&quot;PCL ET&quot; OR &quot;NATO ET&quot;)">Electronics Technology (ET)</option>
    <option value="FASHN">Fashion (FASHN)</option>
    <option value="FIRE">Fire Training Center (FIRE)</option>
    <option value="FITNS">Fitness (FITNS)</option>
    <option value="FREN">French (FREN)</option>
    <option value="FSE">Funeral Service Education (FSE)</option>
    <option value="FT">Fire Technology (FT)</option>
    <option value="GEOG">Geography (GEOG)</option>
    <option value="GEOL">Geology (GEOL)</option>
    <option value="GERM">German (GERM)</option>
    <option value="GERON">Gerontology (GERON)</option>
    <option value="HCD">Human Career Development (HCD)</option>
    <option value="HCI">Healthcare Interpreting (HCI)</option>
    <option value="HEED">Health Education (HEED)</option>
    <option value="HIST">History (HIST)</option>
    <option value="HLS">Homeland Security (HLS)</option>
    <option value="(&quot;PCL HM&quot; OR &quot;NATO HM&quot;)">Hospitality Management (HM)</option>
    <option value="HLACT">Human Lactation (HLACT)</option>
    <option value="HORT">Horticulture (HORT)</option>
    <option value="HSER">Human Services (HSER)</option>
    <option value="(&quot;PCL HUM&quot; OR &quot;NATO HUM&quot;)">Humanities (HUM)</option>
    <option value="IDES">Interior Design (IDES)</option>
    <option value="INDIS">Interdisciplinary Studies (INDIS)</option>
    <option value="(&quot;PCL IS&quot; OR &quot;NATO IS&quot;)">International Studies (IS)</option>
    <option value="INTRP">ASL - English Interpreter Prep (INTRP)</option>
    <option value="ITAL">Italian (ITAL)</option>
    <option value="IW">Iron Workers (IW)</option>
    <option value="JOUR">Journalism (JOUR)</option>
    <option value="KINES">Kinesiology (KINES)</option>
    <option value="(&quot;PCL LA&quot; OR &quot;NATO LA&quot;)">Legal Assisting (LA)</option>
    <option value="LIBR">Library (LIBR)</option>
    <option value="MATH">Mathematics (MATH)</option>
    <option value="MGMT">Management (MGMT)</option>
    <option value="MKT">Marketing (MKT)</option>
    <option value="MUFHL">Music Fndmntals, History &amp; Lit (MUFHL)</option>
    <option value="MUIVI">Instrumental/Voice Instruction (MUIVI)</option>
    <option value="MUP">Music Performance (MUP)</option>
    <option value="MUSM">Specializations in Music (MUSM)</option>
    <option value="NATR">Natural Resources (NATR)</option>
    <option value="NURSE">Nursing (NURSE)</option>
    <option value="NUTRI">Nutrition and Foods (NUTRI)</option>
    <option value="PACT">Personal Activities (PACT)</option>
    <option value="(&quot;PCL PHIL&quot; OR &quot;NATO PHIL&quot;)">Philosophy (PHIL)</option>
    <option value="PHYS">Physics (PHYS)</option>
    <option value="PMED">Paramedics (PMED)</option>
    <option value="(&quot;PCL POLS&quot; OR &quot;NATO POLS&quot;)">Political Science (POLS)</option>
    <option value="PREAP">Pre - Apprenticeship (PREAP)</option>
    <option value="PROPTX">Property Tax (PROPTX)</option>
    <option value="(&quot;PCL PS&quot; OR &quot;NATO PS&quot;)">Physical Science (PS)</option>
    <option value="PSTC">Public Safety Training Center (PSTC)</option>
    <option value="PSYC">Psychology (PSYC)</option>
    <option value="(&quot;PCL RC&quot; OR &quot;NATO RC&quot;)">Respiratory Care (RC)</option>
    <option value="(&quot;PCL RE&quot; OR &quot;NATO RE&quot;)">Real Estate (RE)</option>
    <option value="RECR">Recreation (RECR)</option>
    <option value="RUSS">Russian (RUSS)</option>
    <option value="SGVT">Student Government (SGVT)</option>
    <option value="SHME">Sheet Metal Apprenticeship (SHME)</option>
    <option value="SILA">Sign Language Studies (SILA)</option>
    <option value="SLPA">Speech - Language Pathology (SLPA)</option>
    <option value="SMTEC">Sheet Metal Tech Apprenticeshp (SMTEC)</option>
    <option value="SOC">Sociology (SOC)</option>
    <option value="SJS">Social Justice Studies (SJS)</option>
    <option value="SOCSC">Social Science (SOCSC)</option>
    <option value="(&quot;PCL SPAN&quot; OR &quot;NATO SPAN&quot;)">Spanish (SPAN)</option>
    <option value="SPD">Sacramento Police Department (SPD)</option>
    <option value="SPEECH">Speech (SPEECH)</option>
    <option value="SPORT">Sports (SPORT)</option>
    <option value="SRCP">Saco Regional Chaplains' Prog (SRCP)</option>
    <option value="STAT">Statistics (STAT)</option>
    <option value="(&quot;PCL TA&quot; OR &quot;NATO TA&quot;)">Theatre Arts (TA)</option>
    <option value="TECCOM">Technical Communications (TECCOM)</option>
    <option value="TMACT">Team Activities (TMACT)</option>
    <option value="WELD">Welding (WELD)</option>
    <option value="WEXP">Work Experience (WEXP)</option>
  </select>
  <label for="libres-coursenumber">Number (e.g. 300)</label>
  <input id="libres-coursenumber" class="form-control" name="query" placeholder="e.g. 300" title="Examples: 101, 300, 312. If you're not sure, leave it blank." type="text" style="margin-bottom: 1.5rem; height: 4.2rem;" />
  <!-- errors are revealed conditionally upon form submission, feel free to edit text -->
  <div id="libres-coursenumber-error" class="errortext" style="display: none; margin-bottom: 1.5rem;">The course number is usually 2 or 3 digits. Examples are 100, 300, and 310. If you're not sure, leave it blank.</div>
  <label for="libres-profname">Professor's Last Name</label>
  <!-- autocomplete="off" allows autosuggest enhancement. If not using, consider removing the attribute -->
  <input autocomplete="off" class="form-control" id="libres-profname" name="query" placeholder="Last name only" type="text" style="margin-bottom: 1.5rem; height: 4.2rem;" />
  <div id="libres-profname-error" class="errortext" style="display: none; padding-bottom: 1.5rem;">Please type 
    <em>only the last name</em>, with no spaces or punctuation. If you're not sure, leave it blank.
  </div>
  <input name="query" type="hidden" value="&quot;on reserve&quot;" />
  <input name="query" type="hidden" value="(arc OR &quot;Natomas Center&quot;)" />
  <input name="tab" type="hidden" value="everything" />
  <input type="hidden" name="search_scope" value="arc_everything" />
  <input type="hidden" name="vid" value="01CACCL_LRCCD:arc" />
  <button class="btn btn-primary" type="submit" style="margin-bottom: 1.5rem; font-weight: bold;">
    <i class="fa fa-search" aria-hidden="true"></i> Find It 
  </button>
</form>
<!-- the following script does not need per-college editng because it relies on the value given in the form element data-college attribute. It can be incorporated into a separate file or included on the page. It can be run through a minifier if desired. -->
<script>
jQuery(document).ready(function ($) {
	var college = $('#libres-reservessearch').data('college'); // grab value from form element.
	var colQuery = college;
	if (college === 'arc or natomas') {}


	var validate = function () {
		// clear any existing errors
		$('.error').removeClass('error');
		$('.errortext').hide().removeAttr('role');

		var numExp = /^[0-9]{2,3}([.][0-9]{1})?$/; // checks for proper form of number -- includes odd things like 300.1
		var alphaExp = /^\s*[A-Za-z-_\']+$/; // checks for single alpha string, no spaces
		var courseNum = $('#libres-coursenumber');
		var profName = $('#libres-profname');
		var course = courseNum.val().trim();
		var prof = profName.val().trim();

		if ((course !== '') && (numExp.test(course) === false)) {
			$('#libres-coursenumber-error').show().attr('role', 'alert');
			courseNum.addClass('error').select();
		} else if ((prof !== '') && (alphaExp.test(prof) === false)) {
			$('#libres-profname-error').show().attr('role', 'alert');
			profName.addClass('error').select();
		} else {
			// if no errors, go to Primo VE view with requested parameters
			var omitEmpties = function (str) { // insert spaces only when there's actually a value
				if (str !== '') {
					return str + ' ';
				} else {
					return '';
				}
			};
			var query = omitEmpties($('#libres-department').val()) + omitEmpties(course) + omitEmpties(prof) + '"on reserve" ' + colQuery;
			location.href = 'https://caccl-lrccd.primo.exlibrisgroup.com/discovery/search?query=any,contains,' + encodeURIComponent(query) + '&tab=everything&search_scope=' + college + '_everything&vid=01CACCL_LRCCD:' + college;
		}
	};
	$('#libres-reservessearch').submit(function (e) {
		// prevent form from submitting
		e.preventDefault();
		// run validator
		validate();
	});
});
</script>
<p>
  <em>Please note: No reserves books are allowed to leave the library building during the first two weeks or the last two weeks of the semester.&nbsp;</em>
</p>